<!DOCTYPE html>
<html>
<head>
  <title>Corkboard</title>
  <%= favicon_link_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<%= render partial: "layouts/navbar" %>
<%= yield %>

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</body>
</html>
